<footer class="col-md-12 p-0 bg-light mt-4">
    <div class="col-md-12 footer_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-3">
            <h5 class="mb-3">Christ King Institutions</h5>
            <table class="address_table" *ngIf="footerData">
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-map-marker"></i>
                  </td>
                  <td class="mb-2" [innerHTML]="footerData.address"></td>
                </tr>
                <tr *ngIf="footerData.phone1 || footerData.phone2">
                  <td>
                    <i class="fa fa-phone"></i>
                  </td>
                  <td class="py-2">
                    <a href="tel:+91{{footerData.phone1}}" class="d-inline-bock text-nowrap"
                      *ngIf="footerData.phone1">+91-{{footerData.phone1}}</a>,
                    <a href="tel:+91{{footerData.phone2}}" class="d-inline-bock text-nowrap"
                      *ngIf="footerData.phone2">+91-{{footerData.phone2}}</a>
                  </td>
                </tr>
                <tr *ngIf="footerData.phone3 || footerData.phone4">
                  <td>
                    <h5><i class="fa fa-mobile"></i></h5>
                  </td>
                  <td class="pb-2">
                    <a href="tel:+91{{footerData.phone3}}" class="d-inline-bock text-nowrap"
                      *ngIf="footerData.phone3">+91-{{footerData.phone3}}</a>,
                    <a href="tel:+91{{footerData.phone4}}" class="d-inline-bock text-nowrap"
                      *ngIf="footerData.phone4">+91-{{footerData.phone4}}</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-envelope"></i>
                  </td>
                  <td class="mb-2">
                    <div><a href="mailto:{{footerData.email1}}"> {{footerData.email1}}</a></div>
                    <div><a href="mailto:{{footerData.email2}}"> {{footerData.email2}}</a></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4 col-md-6">
            <h5 class="mb-3">Navigation</h5>
            <ul class="list-unstyled">
              <li> <a routerLink="/about-christ-king-institution">About</a></li>
              <li> <a routerLink="/management-members">Management</a></li>
              <li> <a routerLink="/alumni-members">Alumni</a></li>
              <li><a routerLink="/faculty">Faculty</a></li>
              <li><a routerLink="/heads-of-institutions-message">Heads of Institution's Message</a></li>
              <li><a routerLink="/about-christ-king-institution/affiliation-and-legal-recognition">Affiliation &amp; legal
                  recognitions</a> </li>
              <li> <a routerLink="/about-christ-king-institution/acadamic-excellence">Academic Excellence</a></li>
              <li><a routerLink="/courses">Courses</a></li>
              <li><a routerLink="/facilities">Facilities</a></li>
            </ul>
  
          </div>
          <div class="col-lg-4 col-md-6">
            <h5 class="mb-3">Navigation</h5>
            <ul class="list-unstyled">
              <li><a routerLink="/admission">Admission</a></li>
              <li><a routerLink="/clubs">Clubs</a></li>
              <li><a routerLink="/achievements">Achievements</a></li>
              <li><a routerLink="/notifications">Notifications</a></li>
              <li><a routerLink="/galleries">Gallery</a></li>
              <li><a routerLink="/testimonials">Testimonials</a></li>
              <li><a routerLink="/contact">Contact</a></li>
              <li><a routerLink="/payment">Pay Online</a></li>
              <li><a href="http://christkinginstitution.com/admin/login">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 footer_base">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 footer_copy_right text-center text-lg-left mb-3 mb-lg-0">
            <p class="mb-0">Copyright © 2018
              <a href="http://christkinginstitution.com" title="christkinginstitution.com">Christ King Institutions</a>,
              All Rights Reserved.</p>
          </div>
          <div class="col-lg-5 text-center text-lg-right social_icons">
            <ul class="list-unstyled list-inline" *ngIf="footerData">
              <li *ngIf="footerData.facebook">
                <a [href]="footerData.facebook" target="_blank" data-bs-toggle="tooltip" data-placement="top" title="Facebook page"
                  class="shadow bg-facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li *ngIf="footerData.twitter">
                <a [href]="footerData.twitter" target="_blank" data-bs-toggle="tooltip" data-placement="top" title="Twitter profile"
                  class="shadow bg-twitter"><i class="fa fa-twitter"></i>
                </a>
              </li>
              <li *ngIf="footerData.youtubeNews">
                <a [href]="footerData.youtubeNews" target="_blank" data-bs-toggle="tooltip" data-placement="top" title="Campus News"
                  class="shadow bg-youtube"><i class="fa fa-youtube"></i>
                </a>
              </li>
              <li *ngIf="footerData.youtubeEvents">
                <a [href]="footerData.youtubeEvents" target="_blank" data-bs-toggle="tooltip" data-placement="top" title="Campus Events"
                  class="shadow bg-youtube"><i class="fa fa-youtube"></i>
                </a>
              </li>
              <li *ngIf="footerData.youtubeCommerceClass">
                <a [href]="footerData.youtubeCommerceClass" target="_blank" data-bs-toggle="tooltip" data-placement="top" title="Online Class - Commerce"
                  class="shadow bg-youtube"><i class="fa fa-youtube"></i>
                </a>
              </li>
              <li *ngIf="footerData.linkedin">
                <a [href]="footerData.linkedin" target="_blank" data-bs-toggle="tooltip" data-placement="top" title="Linkedin profile"
                  class="shadow bg-linkedin"><i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li *ngIf="footerData.instagram">
                <a [href]="footerData.instagram" target="_blank" data-bs-toggle="tooltip" data-placement="top" title="Instagram profile"
                  class="shadow bg-instagram"><i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <section class="bg-dark">
      <div class="container text-center">
        <p class="py-2 mb-0">Developed by <a href="http://webelicious.in" class="text-white">webelicious Technology</a>,
          Bangalore</p>
      </div>
    </section>
  </footer>
  