<footer>
    <div class="col-md-12 p-0 py-1">
      <div class="col-md-12 footer_base">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-7 footer_copy_right">
              <p class="pt-2 pt-lg-0 mb-0">Copyright © 2018
                <a href="http://christkinginstitution.com" title="christkinginstitution.com">Christ King Institutions</a>,
                All Rights Reserved.</p>
            </div>
            <div class="col-lg-5 text-end">
              <p class="py-2 mb-0">Developed by <a href="http://webelicious.in" class="text-white">webelicious
                  Technology</a>,
                Bangalore</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>