<div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>Dashboard</h3>
      </div>
      </div>


      <!-- <div class="row align-items-stretch mx--2 mx-sm-0">
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 mb-2 mb-sm-3 px-1 px-sm-2 text-center"
          *ngFor="let item of dashboardCards | search :'title': searchText;let i = index">
          <a routerLink="/{{item.url}}" class="card-link">
            <div class="card shadow h-100" [title]="item.title">
              <div class="card-body p-2">
                <div class="p-2"><i class="fa {{item.icon}} fa-20"></i></div>
                <h6 class="card-title mb-2 pb-2 border-bottom" [innerHTML]="item.title"></h6>
                <h5>{{item.count}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div> -->

    </div>